
@font-face {
  font-family: raleway-regular;
  src: url(../fonts/raleway-regular.ttf);
}

@font-face {
  font-family: montserrat-light;
  src:  url("../fonts/montserrat-light.otf"),
        url("../fonts/montserrat-light.ttf");
font-weight: 300;
}

@font-face {
  font-family: raleway-medium;
  src: url(../fonts/raleway-medium.ttf);
}

@font-face {
  font-family: raleway-extrabold;
  src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
  font-family: raleway-semibold;
  src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(../fonts/raleway-bold.ttf);
}

@font-face {
  font-family: montserrat-regular;
  src:  url("../fonts/montserrat-regular.otf"),
        url("../fonts/montserrat-regular.ttf");
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/roboto-regular.ttf);
}

.container {
  width: 1920px;
  /* border: 1px solid red; */
  margin: 0 auto;
  /* background-color: grey; */
}

.main-header {
  min-width: 1232px;
  height: 1024px;
  /* border: 1px solid purple; */
  margin: 0 auto;
  background-color: #555556;
  background-image: url(../img/mountain_black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-top {
  display: flex;
  /* border: 1px solid aqua; */
  width: 1232px;
  /* height: 64px; */
  padding: 40px 30px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo-link {
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: block;
  fill: #fff;
  font-family: raleway-regular;
  font-weight: 400;
  text-decoration: none;
  font-size: 34px;
  width: 64px;
  height: 56px;
}

.logo-txt {
  color: #fff;
  font-size: 34px;
  font-family: raleway-regular;
}

.logo-link:hover .logo {
  fill: #c7b299;
}

.logo-link:hover .logo-txt {
  color: #c7b299;
}

.logo-link:active .logo {
  fill: #998675;
}

.logo-link:active .logo-txt {
 color: #998675;

}


/* .logo:active {
fill: #998675;
} */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 200px;
  /* border: 1px solid green; */
  height: 64px;
  width: 80%;
  font-size: 14px;
}

.list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 80%;
  padding-left: 0;
}

.list-menu-item {
  font-family: montserrat-light;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  /* border: 1px solid yellow; */
  /* margin: 0 15px; */
}

.nav-link,
.nav-link-basket {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover,
.nav-link-basket:hover {
  color: #c7b299;
  fill: #c7b299;
}

.nav-link:active,
.nav-link-basket:active {
  color: #998675;
  fill: #998675;
}

.nav-link-basket {
  fill: #fff;
  width: 24px;
  height: 24px;
  /* border: 1px solid red; */
  /* padding: 10px; */
  background-position: center;
}

.btn-cart:hover {
  fill: #998675;
}

.btn-search {
  display: block;
	/* -webkit-appearance: textfield;
	-webkit-box-sizing: content-box; */
	font-family: inherit;
	font-size: 100%;
  width: 24px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  transition: all .5s;
  outline: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 17px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* border: 1px solid red; */
}

/* Удаляем иконку поиска и сброса */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

/* Заполнитель */
input:-moz-placeholder {
	color: transparent;
}
input::-webkit-input-placeholder {
	color: transparent;
}

.btn-search:hover {
  color: #c7b299;
  /* fill: red; */
}

.btn-search:focus {
	width: 150px;
	/* padding-left: 12px; */
	color: #c7b299;
	background-color: grey;
	cursor: auto;
  background-position: right;
  /* border: 1px solid green; */
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.header-bottom {
  display: flex;
  flex-direction: column;
  width: 1232px;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 270px 0 40px 0;
  justify-content: center;
  align-items: center;
}

.title-h2 {
  font-family: raleway-medium;
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin: 0;
}

.title-h1 {
  font-family: raleway-extrabold;
  font-size: 52px;
  color: #fff;
  text-align: center;
  margin: 10px 0 0 0;
}

.text {
  /* border: 1px solid green; */
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: montserrat-light;
  width: 580px;
  margin: 16px 0 50px 0;
  position: relative;
  box-sizing: border-box;
}

.text:before {
  content: "";
  display: block;
  width: 49px;
  height: 73px;
  position: absolute;
  top: -15px;
  left: -550px;
  background-size: contain;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-position: center;
}

.text:hover:before {
  left: -552px;
  cursor: pointer;
}

.text::after {
  content: " ";
  display: block;
  width: 49px;
  height: 73px;
  position: absolute;
  top: -15px;
  right: -550px;
  background-size: contain;
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.text:hover::after {
  right: -552px;
  cursor: pointer;
}

.botton-link-wrap {
  display: block;
  /* border: 1px solid red; */
  width: 150px;
  height: 20px;
  margin-top: 325px;
  box-sizing: border-box;
  text-align: center;
}

.botton-link {
  display: inline-block;
  /* border: 1px solid red; */
  border-radius: 50%;
  opacity: 0.4;
  background-color: #9d9b9b;
  background-image: url(../img/01.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  margin: 5px;
}

.botton-link:hover {
  border: 2px solid #d3c1ad;
  /* display: block; */
  opacity: 1;
  background-color: transparent;
  background-image: none;
  margin: 3px;
}

.botton-link:active {
  border: 2px solid #998675;
  /* display: block; */
  opacity: 1;
  background-color: transparent;
  background-image: none;
  margin: 3px;
}

.section-white {
  background-color: #fbfaf8;
  min-width: 1232px;
  margin: 0 auto;
  min-height: 375px;
}

.section-1-top {
  background-color: #fff;
  min-height: 375px;
  padding: 80px;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.section-1-top-inside{
  width: 1180px;
  /* height: 200px; */
  /* border: 1px solid green; */
  display: flex;
  margin: 0 auto;
}

.serv-link {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  text-decoration: none;
  color: #555;
  text-align: center;
  /* border: 1px solid red; */
  width: 100%;
  }

.serv-link:hover .serv-icon {
  fill: #c7b299;
}

.serv-link:hover .serv-txt {
  color: #c7b299;
}

.serv-link:hover::after {
  background-color: #c7b299;
}

.serv-link:active .serv-icon {
  fill: #564938;
}

.serv-link:active .serv-txt {
  color: #564938;
}

.serv-link:active::after {
  background-color: #564938;
}

.serv-link .serv-icon {
  fill: #555;
}

.serv-link .serv-txt {
  font-family: raleway-semibold;
  font-size: 22px;
  width: 100%;
  margin: 25px 0 0 0;
}

.serv-link .serv-txt-p {
  width: 100%;
  margin: 20px 0 0 0;
  font-family: montserrat-light;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid transparent;
}

.serv-link::after {
  content: "";
  display: block;
  margin-top: 25px;
  width: 70px;
  height: 2px;
  background-color: #f1eee9;
}

.section-ideas {
  background-color: #fbfaf8;
  min-height: 700px;
  width: 100%;
  padding: 80px 0 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.section-1-bottom {
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin: 0 auto;
  box-sizing: border-box;
}

.ideas-txt {
  font-family: raleway-semibold;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #555;
  margin: 0;
}

.ideas-txt-p {
  font-family: montserrat-light;
  font-size: 16px;
  width: 42%;
  text-align: center;
  color: #8c8c8c;
  margin: 20px 0 35px 0;
  line-height: 1.4;
}

.ideas-images {
  width: 1232px;
  margin: 0 auto;
  /* border: 1px solid black; */
  height: 488px;
  background-image: url(../img/browser-center.jpg),
                    url(../img/browser-left.jpg),
                    url(../img/browser-right.jpg);
background-repeat: no-repeat;
background-size: 63%;
background-position: bottom, bottom left, bottom right;
box-sizing: border-box;
}

.aside-wrap {
  display: flex;
  /* text-align: center; */
  width: 100%;
  height: 150px;
  background-color: #392821;
  background: linear-gradient(to right, #211b19, #4e3427);
  box-sizing: border-box;
  padding: 10px;
}

.word-press-theme {
  display: flex;
  width: 1232px;
  /* border: 1px solid green; */
  margin: 40px auto;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.word-press-theme-wrap {
  width: 1000px;
  /* border: 1px solid red; */
  align-content: flex-start;
}

.multi-txt {
  display: block;
  font-family: ralway;
  font-size: 28px;
  color: #fff;
}

.multi-txt span {
  color: #bca891;
}

.multi-txt-p {
  font-family: montserrat-light;
  font-size: 18px;
  color: #615855;
  margin: 0;
  margin-top: 10px;
}

.btn {
  display: flex;
  width: 170px;
  margin: 10px auto;
  text-align: center;
  min-height: 50px;
  border-radius: 3px;
  background-color:  #998675;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #736356;
}

.btn:hover {
  background-color:  #736356;
  border-bottom: 3px solid #998675;
}

.btn:hover .btn-txt {
  color:  #ccc;
}

.btn:active .btn-txt {
  color:  #fff;
}

.btn-txt {
  margin: auto;
  font-family: raleway-extrabold;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  /* line-height: 23px; */
  text-align: center;
}

.section-white2 {
  background-color: #fff;
  min-width: 1200px;
  margin: 0px auto;
  height: 1164px;
  text-align: center;
  padding: 80px;
  box-sizing: border-box;
}

.projects {
  font-family: raleway-semibold;
  font-size: 30px;
  color: #555;
  width: 100%;
}

.projects-p {
  text-align: center;
  width: 32%;
  font-family: monserrat-light;
  font-size: 16px;
  color: #9e9e9e;
  /* border: 1px solid red; */
  margin: 30px auto;
}

.prj-link-wrap {
  display: flex;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  /* height: 65px; */
  /* border: 1px solid red; */
  align-content: space-around;
  justify-content: center;
  box-sizing: border-box;
}

.prj-link {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  color: #9e9e9e;
  padding: 7px 20px;
  margin: 5px;
  border-radius: 3px;
}

.prj-link:hover {
  background-color: #998675;
  color: #fff;
}

.prj-link:active {
  background-color: #564938;
}

.pro-link-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
}

.pro-link {
  width: 374px;
  /* border: 1px solid red; */
  position: relative;
  height: 337px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.pro-image {
  width: 374px;
  height: 237px;
  /* border: 2px solid blue; */
}

.pro-link-txt-wrap {
  width: 100%;
  height: 100px;
  padding: 30px 10px 10px 30px;
  text-align: left;
  /* border: 1px solid blue; */
  background-color: #fbfaf8;
  position: relative;
  box-sizing: border-box;
}

.pro-link-txt-wrap:before {
  content: "";
  position: absolute;
  /* display: block; */
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 20px;
}

.pro-link-txt {
  display: block;
  font-family: raleway-medium;
  font-size: 20px;
  color: #d2c2ae;
}

.pro-link-txt-p {
  width: 100%;
  margin: 10px 0 0;
  font-family: montserrat-light;
  font-size: 14px;
  color: #d7d7d6;
}

.pro-link:hover .pro-image {
  filter: brightness(40%);
}

.pro-link:hover .pro-link-txt-wrap {
  background-color: #362f2d;
}

.pro-link:hover .pro-link-txt {
  color: white;
}

.pro-link:hover .pro-link-txt-p {
  color: #b8a58e;
}

.pro-link:hover .pro-link-txt-wrap:before {
  border-bottom: 10px solid #362f2d;
}

.pro-btn-link,
.pro-btn-search {
  width: 26px;
  height: 26px;
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 33%;
  fill: #fff;
  outline: none;
}

.pro-btn-link {
  /* background-image: url(../img/link.png);
  background-repeat: no-repeat; */
  left: 37%;
}

.pro-btn-search {
  /* background-image: url(../img/lupa.png);
  background-repeat: no-repeat; */
  right: 37%;
}

.pro-link:hover .pro-btn-link {
  display: block;
}

.pro-link:hover .pro-btn-search {
  display: block;
}

.pro-link:hover .pro-btn-link:hover {
  /* background-position: -26px 0px; */
  outline: none;
  fill: #c7b299;
  cursor: pointer;
}

.pro-link:hover .pro-btn-search:hover {
  /* background-position: -26px 0px; */
  outline: none;
  fill: #c7b299;
  cursor: pointer;
}

.pro-link:active .pro-btn-link:hover {
  /* background-position: -26px 0px; */
  outline: none;
  fill: #7b664d;
  cursor: pointer;
}

.pro-link:active .pro-btn-search:hover {
  /* background-position: -26px 0px; */
  outline: none;
  fill: #7b664d;
  cursor: pointer;
}

.section-video {
  width: 100%;
  height: 705px;
  background-color: #828384;
  position: relative;
}

.vid {
  width: 1920px;
  height: 705px;
  filter: brightness(40%);
}

.video-wrap {
  /* background-color: brown; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* align-content: center; */
  text-align: center;
  margin: 0 auto;
  width: 590px;
  min-height: 320px;
  position: absolute;
  top: 240px;
  left: 676px;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.video-title {
  width: 100%;
  font-family: raleway-medium;
  font-size: 30px;
  color: #fff;
}

.video-txt {
  font-family: montserrat-light;
  font-size: 16px;
  color: #fff;
}

.time-txt {
  width: 100%;
  color: #baa995;
  font-family: montserrat-regular;
}

.btn-video {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  outline: none;
}

.icon-video {
  width: 70px;
  height: 70px;
  fill: #fff;
}

.btn-video:hover .icon-video {
  fill: #c2ad96;
  cursor: pointer;
}

.btn-video:active .icon-video {
  fill: #82766c;
}

.sec-excel {
  width: 100%;
  height: 697px;
  background-color: #fbfaf8;
  /* background-position: 430px 78px; */
  box-sizing: border-box;
}

.sec-excel-wrap {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  align-items: center;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: 65px 81px;
  /* border: 1px solid red; */
  padding: 0 0 10px 500px;
  box-sizing: border-box;
}

.sec-excel-txt {
  display: block;
  width: 690px;
  min-height: 320px;
  /* border: 1px solid red; */
  font-family: montserrat-light;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 1.5;
  box-sizing: border-box;
}

.excel-title {
  font-family: raleway-semibold;
  font-size: 30px;
  color: #555;
  width: 100%;
}

.excel-txt {
  margin-top: 20px;
}

.excel-list {
  list-style: none;
  padding: 0 0 0 100px;
  margin-top: 40px;
  /* position: relative; */
}

.excel-list-item {
  position: relative;
}

.excel-list-item:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 1px;
  left: -50px;
  background-image: url(../img/excel-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-stat {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  padding: 50px;
  background-color: #392821;
  background: linear-gradient(to right, #211b19, #4e3427);
  /* border: 1px solid red; */
}

.stat-wrap {
  display: flex;
  width: 1000px;
  height: 200px;
  /* border: 1px solid green; */
  /* margin: 40px auto; */
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.stat-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 160px;
  /* border: 1px solid red; */
  text-align: center;
}

.stat-icon {
  fill: #c7b299;
}
.stat-title {
  display: block;
  font-family: montserrat-light;
  font-size: 48px;
  color: #fff;
  width: 100%;
  margin: 10px;
}

.stat-txt {
  text-transform: uppercase;
  font-family: montserrat-light;
  font-size: 14px;
  color: #c7b299;
  width: 100%;
}

.stat-item::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin-top: 15px;
}

.section-posts {
  width: 100%;
  min-height: 754px;
  padding: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}

.posts-title {
  display: block;
  width: 100%;
  font-size: 30px;
  font-family: raleway-semibold;
  color: #555;
  margin-top: 20px;
}

.posts-txt {
  width: 670px;
  font-size: 14px;
  font-family: montserrat-light;
  color: #8c8c8c;
  margin: 25px auto;
}

.posts-wrap {
  display: flex;
  justify-content: center;
  width: 1200px;
  min-height: 440px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0 auto;
}

.posts-item {
  display: block;
  width: 370px;
  min-height: 395px;
  /* border: 1px solid red; */
  margin: 15px;
  box-sizing: border-box;
  position: relative;
}

.posts-img {
  display: block;
  background-color: #777;
  width: 370px;
  height: 220px;
}

.item-posts-wrap {
  display: block;
  width: 100%;
  min-height: 175px;
  padding: 20px;
  /* border: 1px solid pink; */
  box-sizing: border-box;
  text-align: left;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}

.item-title {
  width: 100%;
  font-size: 20px;
  font-family: raleway-medium;
  color: #555;
}

.item-txt {
  font-family: montserrat-light;
  font-size: 14px;
  color: #8c8c8c;
}

.item-link {
  font-family: montserrat-light;
  font-size: 14px;
  color: #c7b299;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
}

.item-link::after {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  right: -16px;
  top: 6px;
}

.item-txt-top {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 60px;
  /* border: 1px solid green; */
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: #363636;
  border-radius: 3px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.post-date {
  width: 100%;
  font-family: montserrat-light;
  font-size: 24px;
  /* background-color: #363636; */
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
}

.post-date-bottom {
  font-family: roboto-regular;
  font-size: 12px;
  background-color: #252525;
  width: 100%;
  height: 25px;
  padding: 5px;
  box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.posts-item:hover .posts-img {
  filter: brightness(40%);
}

.posts-item:hover .item-posts-wrap {
  background-color: #362f2d;
  border-left: 1px solid #362f2d;
  border-right: 1px solid #362f2d;
  border-bottom: 1px solid #362f2d;
}

.posts-item:hover .item-title {
  color: #c7b299;
}

.posts-item:hover .item-txt {
  color: #fff;
}

.posts-item:hover .item-txt-top {
  background-color: #c7b299;
}

.posts-item:hover .post-date-bottom {
  background-color: #a48d72;
}

.item-link:hover {
  color: #fff;
}

.item-link:hover::after {
  border-left: 5px solid #fff;
}

.item-link:active {
  color: #777;
}

.item-link:active::after {
  border-left: 5px solid #777;
}

.post-btn-wrap {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.btn-left,
.btn-right {
  background-color: transparent;
  border: none;
  outline: none;
}

.posta {
  fill: #d4d4d4;
}

.posta:hover {
  fill: #c7b299;
}

.posta:active {
  fill: #7b664d;
}

.section-logos {
  width: 100%;
  height: 490px;
  background-color: #555;
  padding: 90px;
  background-image: url(../img/footer-bgd.jpg);
  box-sizing: border-box;
}

.logos {
  width: 1150px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.logos-link:hover {
  /* filter: opacity(70%); */
  transform: scale(1.2);
}

.logos-link:active {
  filter: opacity(40%);
}

.logos-img {
  display: block;
  width: 240px;
  height: 240px;
}

.logos-img01 {
  width: 210px;
  height: 127px;
}

.logos-img02 {
  width: 210px;
  height: 210px;
}

.logos-img03 {
  width: 210px;
  height: 130px;
}

.logos-img04 {
  width: 210px;
  height: 127px;
}

.last-section {
  width: 100%;
  min-height: 510px;
  background-color: #191919;
  padding: 50px;
  box-sizing: border-box;
  /* margin: 0 auto; */
}

.last-section-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4 {
  width: 270px;
  min-height: 362px;
  /* border: 1px solid red; */
  margin: 14px;
}

.wrap-1-link {
  font-family: montserrat-regular;
  font-size: 14px;
  /* color: #c7b299; */
  color: #fff;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
}

.wrap-1-link::after {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  right: -16px;
  top: 6px;
}

.wrap-1-link:hover {
  color: #c7b299;
}

.wrap-1-link:hover::after {
  border-left: 5px solid #c7b299;
}

.wrap-1-link:active {
  color: #998675;
}

.wrap-1-link:active::after {
  border-left: 5px solid #998675;
}

.last-section-p,
.last-section-p0 {
  font-family: montserrat-light;
  font-size: 14px;
  color: #555;
  padding: 25px 0;
  line-height: 1.6;
  margin: 0;
  position: relative;
}

.last-section-p:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  top: 18px;
}

.last-section-h {
  display: block;
  font-size: 24px;
  font-family: raleway-bold;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  padding: 25px 0 0;
}

.wrap-2-link {
  display: block;
  font-family: montserrat-regular;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  line-height: 1.6;
  padding: 25px 0 0 0;
  position: relative;
}

.wrap-2-link:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  top: 12px;
}

.wrap-2 > a:nth-child(2):before {
  display: none;
}

.time-txt {
  display: block;
  width: 100%;
  color: #313131;
  font-size: 12px;
}

.wrap-2-link:hover time {
  color: #fff;
}

.wrap-2-link:hover {
  color: #b6a38c;
}

.wrap-2-link:active time {
  color: #b4b0b0;
}

.wrap-2-link:active {
  color: #998675;
}

.last-section-txt {
  color: #03a7d4;
}

.wrap-3-p {
  margin: 0;
  padding: 25px 0 0 0;
}

.wrap-3 > p {
  padding-bottom: 0;
}

.last-section-txtp {
  color: #898989;
}

.last-section > div > div:nth-child(4) > span {
  padding-bottom: 25px;
}

.last-section-image {
  width: 130px;
  height: 100px;
  background-color: #555;
}

.wrap-4 {
  width: 270px;
  height: 270px;
}

.last-section-images-wrap {
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  /* border: 1px solid red; */
}

.main-footer {
  width: 100%;
  min-height: 110px;
  background-color: #111;
  padding: 40px;
  box-sizing: border-box;
}

.main-footer-wrap {
  width: 1175px;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  font-family: montserrat-light;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.footer-list-item {
  color: #555;
  padding: 0 0 0 24px;
  position: relative;
}

.footer-list-item:first-child {
  padding: 0;
}

.footer-list-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #252525;
  left: 12px;
}

.footer-list-item:first-child:before {
  position: absolute;
  display: none;
}

.footer-auth {
  color: #828282;
}

.footer-logo1 {
  color: #c7b299;
}

.footer-link {
  text-decoration: none;
  color: #555;
}

.footer-link:hover {
  color: #c7b299;
}

.footer-link:active {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .aside-wrap {
    display: none;
  }
}
