@font-face {
  font-family: raleway-regular;
  src: url(../fonts/raleway-regular.ttf);
}

@font-face {
  font-family: montserrat-light;
  src:  url(../fonts/montserrat-light.woff2),
        url(../fonts/montserrat-light.otf),
        url(../fonts/montserrat-light.ttf);
/* font-weight: 300; */
}

@font-face {
  font-family: montserrat-ultra-light;
  src:  url(../fonts/montserrat-ultra-light.otf);
}

@font-face {
  font-family: raleway-medium;
  src: url(../fonts/raleway-medium.ttf);
}

@font-face {
  font-family: raleway-extrabold;
  src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
  font-family: raleway-semibold;
  src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(../fonts/raleway-bold.ttf);
}

@font-face {
  font-family: montserrat-regular;
  src:  url(../fonts/montserrat-regular.otf),
        url(../fonts/montserrat-regular.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/roboto-regular.ttf);
}

.container {
  max-width: 1920px;
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  /* background-color: grey; */
}

.main-header {
  /* min-width: 1232px; */
  height: 1024px;
  /* border: 1px solid purple; */
  /* margin: 0 auto; */
  background-color: #555556;
  background-image: url(../img/mountain_black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-top {
  display: flex;
  /* border: 1px solid aqua; */
  width: 64%;
  /* height: 64px; */
  padding: 40px 0 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo-link {
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: block;
  fill: #fff;
  font-family: raleway-regular;
  font-weight: 400;
  text-decoration: none;
  font-size: 34px;
  width: 64px;
  height: 56px;
}

.logo-txt {
  color: #fff;
  font-size: 34px;
  font-family: raleway-regular;
}

.logo-link:hover .logo {
  fill: #c7b299;
}

.logo-link:hover .logo-txt {
  color: #c7b299;
}

.logo-link:active .logo {
  fill: #998675;
}

.logo-link:active .logo-txt {
 color: #998675;

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 200px;
  /* border: 1px solid green; */
  height: 64px;
  width: 80%;
  font-size: 14px;
}

.menu-checkbox,
.menu-btn {
  display: none;
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 80%;
  height: 64px;
  padding: 0;

}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
  font-family: montserrat-light;
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.menu-list a,
.nav-link-basket {
  text-decoration: none;
  color: #fff;
}

.menu-list a:hover,
.nav-link-basket:hover {
  color: #c7b299;
  fill: #c7b299;
}

.menu-list a:active,
.nav-link-basket:active {
  color: #998675;
  fill: #998675;
}

.nav-link-basket {
  fill: #fff;
  width: 24px;
  height: 24px;
  /* border: 1px solid red; */
  /* padding: 10px; */
  background-position: center;
}

.btn-cart:hover {
  fill: #998675;
}

.btn-search {
  display: block;
	/* -webkit-appearance: textfield;
	-webkit-box-sizing: content-box; */
	font-family: inherit;
	font-size: 100%;
  width: 24px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  transition: all .5s;
  outline: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 17px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* border: 1px solid red; */
}

/* Удаляем иконку поиска и сброса */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

/* Заполнитель */
input:-moz-placeholder {
	color: transparent;
}
input::-webkit-input-placeholder {
	color: transparent;
}

.btn-search:hover {
  color: #c7b299;
  /* fill: red; */
}

.btn-search:focus {
	width: 130px;
	padding-left: 5px;
	color: #c7b299;
	background-color: grey;
	cursor: auto;
  background-position: right;
  /* border: 1px solid green; */
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.header-bottom {
  display: flex;
  flex-direction: column;
  /* width: 1232px; */
  width: 100%;
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  padding: 14% 0 0 0;
  justify-content: center;
  align-items: center;
}

.header-bottom h2 {
  font-family: raleway-medium;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0;
}

.header-bottom h1 {
  font-family: raleway-extrabold;
  font-size: 52px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin: 10px 0 0 0;
}

.header-bottom p {
  /* border: 1px solid green; */
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: montserrat-light;
  font-weight: 300;
  line-height: 24px;
  width: 580px;
  margin: 16px 0 50px 0;
  position: relative;
  box-sizing: border-box;
}

.header-bottom p::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  left: -530px;
  border: 2px solid transparent;
  border-left-color: #a2a19f;
  border-bottom-color: #a2a19f;
  transform: rotate(45deg);
}

.header-bottom p:hover::before {
  /* left: -552px; */
  cursor: pointer;
  border-left-color: #d3c1ad;
  border-bottom-color: #d3c1ad;
}

 .header-bottom p:active:before {
  border-left-color: #555;
  border-bottom-color: #555;
}

.header-bottom p::after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15px;
  right: -530px;
  border: 2px solid transparent;
  border-right-color: #a2a19f;
  border-bottom-color: #a2a19f;
  transform: rotate(-45deg);

}

.header-bottom p:hover::after {
  cursor: pointer;
  border-right-color: #d3c1ad;
  border-bottom-color: #d3c1ad;
}

.header-bottom p:active::after {
  cursor: pointer;
  border-right-color: #555;
  border-bottom-color: #555;
}

.botton-link-wrap {
  display: block;
  /* border: 1px solid red; */
  width: 150px;
  height: 20px;
  margin-top: 16.5%;
  box-sizing: border-box;
  text-align: center;
}

.botton-link-wrap a {
  display: inline-block;
  /* border: 1px solid red; */
  border-radius: 50%;
  opacity: 0.4;
  background-color: #9d9b9b;
  background-image: url(../img/01.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  margin: 5px;
}

.botton-link-wrap a:hover {
  border: 2px solid #d3c1ad;
  /* display: block; */
  opacity: 1;
  background-color: transparent;
  background-image: none;
  margin: 3px;
}

.botton-link-wrap a:active {
  border: 2px solid #998675;
  /* display: block; */
  opacity: 1;
  background-color: transparent;
  background-image: none;
  margin: 3px;
}

.web-app {
  min-height: 375px;
  background-color: #fff;
  padding: 80px 19%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: flex;
  margin: 0 auto;
}

.web-app a {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  text-decoration: none;
  color: #555;
  text-align: center;
  /* border: 1px solid red; */
  width: 100%;
  width: 272px;
  margin: 0 10px;
  }

.web-app a:hover .serv-icon {
  fill: #c7b299;
}

.web-app a:hover .serv-txt {
  color: #c7b299;
}

.web-app a:hover::after {
  background-color: #c7b299;
}

.web-app a:active .serv-icon {
  fill: #564938;
}

.web-app a:active .serv-txt {
  color: #564938;
}

.web-app a:active::after {
  background-color: #564938;
}

.web-app a .serv-icon {
  fill: #555;
}

.web-app a .serv-txt {
  font-family: raleway-semibold;
  font-size: 22px;
  width: 100%;
  margin: 25px 0 0 0;
}

.web-app a .serv-txt-p {
  width: 100%;
  margin: 20px 0 0 0;
  font-family: montserrat-light;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid transparent;
}

.web-app a::after {
  content: "";
  display: block;
  margin-top: 25px;
  width: 70px;
  height: 2px;
  background-color: #f1eee9;
}

.section-ideas {
  background-color: #fbfaf8;
  min-height: 700px;
  width: 100%;
  padding: 4% 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  /* border: 1px solid red; */
  background-image: url(../img/browser-center.jpg),
  url(../img/browser-left.jpg),
  url(../img/browser-right.jpg);
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: 50% 101%, 28% 101%, 72% 101%;
  box-sizing: border-box;
}

.section-ideas span {
  display: block;
  font-family: raleway-semibold;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: #555;
}

.section-ideas p {
  font-family: montserrat-light;
  font-size: 16px;
  line-height: 28px;
  width: 40%;
  text-align: center;
  color: #8c8c8c;
  margin: 20px 0 27% 0;
}

.ideas-images {
}

.aside-wrap {
  display: flex;
  width: 100%;
  min-height: 150px;
  background-color: #392821;
  background: linear-gradient(to right, #211b19, #4e3427);
  box-sizing: border-box;
  padding: 0 19.5%;
  /* border: 1px solid green; */
  justify-content: space-between;
  align-items: center;
}

.aside-txt {
  display: block;
  font-family: ralway;
  font-size: 28px;
  color: #fff;
}

.aside-txt span {
  color: #bca891;
}

.aside-wrap-content p {
  font-family: montserrat-light;
  font-size: 18px;
  color: #615855;
  margin: 0;
  margin-top: 10px;
}

.btn {
  display: flex;
  width: 170px;
  margin: 10px auto;
  text-align: center;
  min-height: 50px;
  border-radius: 3px;
  background-color:  #998675;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid #736356;
}

.btn:hover {
  background-color:  #736356;
  border-bottom: 3px solid #998675;
}

.btn:hover .btn-txt {
  color:  #ccc;
}

.btn:active .btn-txt {
  color:  #fff;
}

.btn-txt {
  margin: auto;
  font-family: raleway-extrabold;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  /* line-height: 23px; */
  text-align: center;
}

.aside-wrap a {
  margin: 0;
}

.projects {
  background-color: #fff;
  min-width: 1200px;
  margin: 0px auto;
  height: 1164px;
  text-align: center;
  padding: 80px;
  box-sizing: border-box;
}

.projects > span {
  font-family: raleway-semibold;
  font-size: 30px;
  font-weight: 400;
  color: #555;
  width: 100%;
}

.projects > p {
  text-align: center;
  width: 44%;
  font-family: montserrat-light;
  font-weight: 100;
  line-height: 28px;
  font-size: 16px;
  color: #9e9e9e;
  /* border: 1px solid red; */
  margin: 30px auto;
}

.prj-link-wrap {
  display: flex;
  margin: 0 auto;
  /* border: 1px solid red; */
  align-content: space-around;
  justify-content: center;
  box-sizing: border-box;
}

.prj-link-wrap a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  color: #9e9e9e;
  padding: 7px 20px;
  margin: 5px;
  border-radius: 3px;
}

.prj-link-wrap a:hover {
  background-color: #998675;
  color: #fff;
}

.prj-link-wrap a:active {
  background-color: #564938;
}

.pro-link-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
}

.pro-link {
  width: 374px;
  /* border: 1px solid red; */
  position: relative;
  height: 337px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.pro-image {
  width: 374px;
  height: 237px;
  /* border: 2px solid blue; */
}

.pro-link-txt-wrap {
  width: 100%;
  height: 100px;
  padding: 30px 10px 10px 30px;
  text-align: left;
  /* border: 1px solid blue; */
  background-color: #fbfaf8;
  position: relative;
  box-sizing: border-box;
}

.pro-link-txt-wrap:before {
  content: "";
  position: absolute;
  /* display: block; */
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 20px;
}

.pro-link-txt {
  display: block;
  font-family: raleway-medium;
  font-size: 20px;
  color: #d2c2ae;
}

.pro-link-txt-p {
  width: 100%;
  margin: 10px 0 0;
  font-family: montserrat-light;
  font-size: 14px;
  line-height: 20px;
  color: #d7d7d6;
}

.pro-link:hover .pro-image {
  filter: brightness(40%);
}

.pro-link:hover .pro-link-txt-wrap {
  background-color: #362f2d;
}

.pro-link:hover .pro-link-txt {
  color: white;
}

.pro-link:hover .pro-link-txt-p {
  color: #b8a58e;
}

.pro-link:hover .pro-link-txt-wrap:before {
  border-bottom: 10px solid #362f2d;
}

.pro-btn-link,
.pro-btn-search {
  width: 26px;
  height: 26px;
  display: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 33%;
  fill: #fff;
  outline: none;
}

.pro-btn-link {
  left: 37%;
}

.pro-btn-search {
  right: 37%;
}

.pro-link:hover .pro-btn-link {
  display: block;
}

.pro-link:hover .pro-btn-search {
  display: block;
}

.pro-link:hover .pro-btn-link:hover {
  outline: none;
  fill: #c7b299;
  cursor: pointer;
}

.pro-link:hover .pro-btn-search:hover {
  outline: none;
  fill: #c7b299;
  cursor: pointer;
}

.pro-link:active .pro-btn-link:hover {
  outline: none;
  fill: #7b664d;
  cursor: pointer;
}

.pro-link:active .pro-btn-search:hover {
  outline: none;
  fill: #7b664d;
  cursor: pointer;
}

.section-video {
  width: 100%;
  height: 705px;
  background-color: #828384;
  position: relative;
}

.vid {
  display: block;
  /* max-width: 1920px; */
  width: 100%;
  height: 100%;
  filter: brightness(55%);
  object-fit: cover;
}

.video-wrap {
  /* background-color: brown; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* align-content: center; */
  text-align: center;
  margin: 0 auto;
  width: 30%;
  min-height: 320px;
  position: absolute;
  top: 240px;
  left: 676px;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.video-wrap span {
  width: 100%;
  font-family: raleway-medium;
  font-size: 30px;
  color: #fff;
}

.video-wrap p {
  font-family: montserrat-light;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  color: #fff;
  margin: 0;
}

.video-wrap time {
  width: 100%;
  color: #baa995;
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 800;
}

.btn-video {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  outline: none;
}

.video-wrap svg {
  width: 70px;
  height: 70px;
  fill: #fff;
}

.btn-video:hover svg {
  fill: #c2ad96;
  cursor: pointer;
}

.btn-video:active svg {
  fill: #82766c;
}

.sec-excel {
  width: 100%;
  height: 697px;
  background-color: #fbfaf8;
  /* background-position: 430px 78px; */
  box-sizing: border-box;
}

.sec-excel-wrap {
  display: flex;
  margin: 0 auto;
  width: 61%;
  height: 100%;
  align-items: center;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: 65px 81px;
  /* border: 1px solid red; */
  padding: 0 0 10px 500px;
  box-sizing: border-box;
}

.sec-excel-txt {
  display: block;
  width: 690px;
  min-height: 320px;
  /* border: 1px solid red; */
  font-family: montserrat-light;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 1.5;
  box-sizing: border-box;
}

.excel-title {
  font-family: raleway-semibold;
  font-size: 30px;
  color: #555;
  width: 100%;
}

.excel-txt {
  margin-top: 20px;
  line-height: 28px;
}

.excel-list {
  list-style: none;
  padding: 0 0 0 100px;
  margin-top: 40px;
  /* position: relative; */
}

.excel-list li {
  position: relative;
  line-height: 32px;
}

.excel-list li:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 1px;
  left: -50px;
  background-image: url(../img/excel-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-stat {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  padding: 50px;
  background-color: #392821;
  background: linear-gradient(to right, #211b19, #4e3427);
  /* border: 1px solid red; */
}

.stat-wrap {
  display: flex;
  /* width: 1000px; */
  width: 55%;
  height: 200px;
  /* border: 1px solid green; */
  /* margin: 40px auto; */
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.stat-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 160px;
  /* border: 1px solid red; */
  text-align: center;
}

.stat-item svg {
  fill: #c7b299;
}

.stat-item span:first-of-type {
  display: block;
  font-family: montserrat-ultra-light;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  width: 100%;
  margin: 10px;
}

.stat-item > span:last-child {
  text-transform: uppercase;
  font-family: montserrat-light;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  width: 100%;
}

.stat-item::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin-top: 15px;
}

.section-posts {
  width: 100%;
  min-height: 754px;
  padding: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}

.posts-title {
  display: block;
  width: 100%;
  font-size: 30px;
  font-family: raleway-semibold;
  color: #555;
  margin-top: 20px;
}

.posts-txt {
  width: 49%;
  font-size: 16px;
  font-family: montserrat-light;
  line-height: 28px;
  color: #8c8c8c;
  margin: 25px auto;
}

.posts-wrap {
  display: flex;
  justify-content: center;
  /* width: 1200px; */
  width: 67%;
  min-height: 440px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0 auto;
}

.posts-item {
  display: block;
  width: 370px;
  min-height: 395px;
  /* border: 1px solid red; */
  margin: 15px;
  box-sizing: border-box;
  position: relative;
}

.posts-img {
  display: block;
  background-color: #777;
  width: 370px;
  height: 220px;
}

.item-posts-wrap {
  display: block;
  width: 100%;
  min-height: 175px;
  padding: 20px;
  /* border: 1px solid pink; */
  box-sizing: border-box;
  text-align: left;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}

.item-posts-wrap span {
  width: 100%;
  font-size: 20px;
  font-family: raleway-medium;
  color: #555;
}

.item-posts-wrap p {
  font-family: montserrat-light;
  font-size: 14px;
  color: #8c8c8c;
}

.item-posts-wrap a {
  font-family: montserrat-light;
  font-size: 14px;
  color: #c7b299;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
}

.item-posts-wrap a::after {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  right: -16px;
  top: 3px;
}

.item-txt-top {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 60px;
  /* border: 1px solid green; */
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: #363636;
  border-radius: 3px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.post-date {
  width: 100%;
  font-family: montserrat-light;
  font-size: 24px;
  /* background-color: #363636; */
  height: 35px;
  padding: 5px;
  box-sizing: border-box;
}

.post-date-bottom {
  font-family: roboto-regular;
  font-size: 12px;
  background-color: #252525;
  width: 100%;
  height: 25px;
  padding: 5px;
  box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.posts-item:hover .posts-img {
  filter: brightness(40%);
}

.posts-item:hover .item-posts-wrap {
  background-color: #362f2d;
  border-left: 1px solid #362f2d;
  border-right: 1px solid #362f2d;
  border-bottom: 1px solid #362f2d;
}

.posts-item:hover .item-posts-wrap span {
  color: #c7b299;
}

.posts-item:hover .item-posts-wrap p {
  color: #fff;
}

.posts-item:hover .item-txt-top {
  background-color: #c7b299;
}

.posts-item:hover .post-date-bottom {
  background-color: #a48d72;
}

.item-posts-wrap a:hover {
  color: #fff;
}

.item-posts-wrap a:hover::after {
  border-left: 5px solid #fff;
}

.item-posts-wrap a:active {
  color: #777;
}

.item-posts-wrap a:active::after {
  border-left: 5px solid #777;
}

.post-btn-wrap {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.btn-left,
.btn-right {
  background-color: transparent;
  border: none;
  outline: none;
}

.posta {
  fill: #d4d4d4;
}

.posta:hover {
  fill: #c7b299;
}

.posta:active {
  fill: #7b664d;
}

.logos {
  width: 100%;
  height: 490px;
  background-color: #555;
  padding: 90px 19%;
  background-image: url(../img/footer-bgd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos a:hover {
  /* filter: opacity(70%); */
  transform: scale(1.2);
}

.logos a:active {
  filter: opacity(40%);
}

.logos-img {
  display: block;
  width: 240px;
  height: 240px;
}

.logos-img01 {
  width: 210px;
  height: 127px;
}

.logos-img02 {
  width: 210px;
  height: 210px;
}

.logos-img03 {
  width: 210px;
  height: 130px;
}

.last-section {
  width: 100%;
  min-height: 510px;
  background-color: #191919;
  padding: 50px;
  box-sizing: border-box;
  /* margin: 0 auto; */
}

.last-section-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4 {
  width: 270px;
  min-height: 362px;
  /* border: 1px solid red; */
  margin: 14px;
}

.wrap-1-link {
  font-family: montserrat-regular;
  font-size: 14px;
  /* color: #c7b299; */
  color: #fff;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
}

.wrap-1-link::after {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  right: -16px;
  top: 6px;
}

.wrap-1-link:hover {
  color: #c7b299;
}

.wrap-1-link:hover::after {
  border-left: 5px solid #c7b299;
}

.wrap-1-link:active {
  color: #998675;
}

.wrap-1-link:active::after {
  border-left: 5px solid #998675;
}

.last-section-p,
.last-section-p0 {
  font-family: montserrat-light;
  font-size: 14px;
  color: #555;
  padding: 25px 0;
  line-height: 1.6;
  margin: 0;
  position: relative;
}

.last-section-p:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  top: 18px;
}

.last-section-h {
  display: block;
  font-size: 24px;
  font-family: raleway-bold;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  padding: 25px 0 0;
}

.wrap-2-link {
  display: block;
  font-family: montserrat-regular;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  line-height: 1.6;
  padding: 25px 0 0 0;
  position: relative;
}

.wrap-2-link:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  top: 12px;
}

.wrap-2 > a:nth-child(2):before {
  display: none;
}

.time-txt {
  display: block;
  width: 100%;
  color: #313131;
  font-size: 12px;
}

.wrap-2-link:hover span {
  color: #fff;
}

.wrap-2-link:hover {
  color: #b6a38c;
}

.wrap-2-link:active span {
  color: #b4b0b0;
}

.wrap-2-link:active {
  color: #998675;
}

.last-section-txt {
  color: #03a7d4;
}

.wrap-3-p {
  margin: 0;
  padding: 25px 0 0 0;
}

.wrap-3 > p {
  padding-bottom: 0;
}

.last-section-txtp {
  color: #898989;
}

.last-section > div > div:nth-child(4) > span {
  padding-bottom: 25px;
}

.last-sect-imgs-wrap a {
  width: 130px;
  height: 100px;
  background-color: #555;
}

.wrap-4 {
  width: 270px;
  height: 270px;
}

.last-sect-imgs-wrap {
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  /* border: 1px solid red; */
}

.main-footer {
  width: 100%;
  min-height: 110px;
  background-color: #111;
  padding: 0 20%;
  box-sizing: border-box;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  list-style: none;
  display: flex;
  /* border: 1px solid green; */
  font-family: montserrat-light;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.footer-list li {
  color: #555;
  padding: 0 0 0 24px;
  position: relative;
}

.footer-list li:first-child {
  padding: 0;
}

.footer-list li::before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #252525;
  left: 12px;
}

.footer-list li:first-child:before {
  position: absolute;
  display: none;
}

.footer-auth {
  color: #828282;
  text-decoration: none;
}

.footer-logo1 {
  color: #c7b299;
}

.footer-link {
  text-decoration: none;
  color: #555;
}

.footer-link:hover,
.footer-auth:hover {
  color: #c7b299;
}

.footer-link:active,
.footer-auth:active {
  color: #fff;
}

@media (max-width: 1100.98px) {
  .container {
    width: 100%;
 }

 .main-header {
   /* min-width: 800px; */
   height: 900px;
   width: 100%;
   /* border: 1px solid purple; */
  }

 .header-top {
   display: flex;
   /* border: 1px solid aqua; */
   width: 90%;
   /* height: 64px; */
   padding: 40px 30px 0;
 }

 .header-bottom {
   padding: 13% 0 30px 0;
   width: 100%;
 }

 .navigation {
   padding: 0 0 0 100px;
 }

  .header-bottom p:before,
  .header-bottom p:after {
    display: none;
  }

  .botton-link-wrap {
    margin-top: 43%;
  }

  .web-app {
    padding: 60px 5%;
  }

  .web-app a {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    text-decoration: none;
    text-align: center;
    /* border: 1px solid red; */
    width: 272px;
    height: 230px;
    margin: 15px auto;
  }

  .section-ideas {
    min-height: 450px;
  }

  .section-ideas p {
    width: 70%;
    margin: 10px 0 15px;
  }

  .aside-wrap {
    padding: 20px;
  }

  .projects {
    min-width: 800px;
    height: 100%;
    text-align: center;
    padding: 40px 10px;
}

  .projects > p {
    width: 65%;
}

    .pro-link-wrap {
    width: 100%;
    justify-content: center;
    height: 100%;
}

  .video-wrap {
    left: 25%;
  }

  .video-wrap p {
    display: none;
  }

  .vid {
    object-fit: cover;
    width: 100%
  }

  .sec-excel-wrap {
    width: 100%;
    background-position: 30px 81px;
    /* border: 1px solid red; */
    padding: 0 0 10px 320px;
}

  .section-stat {
    padding: 10px;
    height: 250px;
  }

  .stat-wrap {
    width: 80%;
  }

  .section-posts {
    padding: 10px;
  }

  .posts-wrap  {
    flex-wrap: wrap;
    width: 80%;
  }

  .posts-txt {
    width: 80%;
  }

  .section-logos {
    padding: 10px;
    height: 230px;
    background-size: cover;
  }

  .logos {
    width: 100%;
    height: 100%;
  }

  .logos-img01,
  .logos-img02,
  .logos-img03 {
    width: 70%;
    height: 70%;
  }

  .last-section {
    width: 100%;
    min-height: 400px;
    padding: 20px 10px;
}

 .wrap-4 {
   display: none;
 }

  .main-footer {
    padding: 20px;
    justify-content: space-around;
  }

}

@media (max-width: 899.98px) {
  .botton-link-wrap,
  .menu-list,
  .btn-search,
  .nav-link-basket {
    display: none;
  }

  .web-app {
    padding: 60px 2%;
    flex-wrap: wrap;
  }

  .web-app a {
    min-height: 100%;
  }

}

@media (max-width: 575.98px) {
  /* .projects, */
  .aside-wrap-content p,
  .last-section,
  .post-btn-wrap,
  .header-bottom h1,
  .header-bottom h2,
  .header-bottom p,
  .header-bottom,
  .botton-link-wrap,
  .btn-search,
  .nav-link-basket {
    display: none;
  }

  .container {
    width: 100%;
  }

  .main-header {
    /* min-width: 100%; */
    height: 100px;
    width: 100%;
     /* border: 1px solid purple; */
  }

  .header-top {
      padding: 20px;
      margin: 0;
      display: block;
      height: 100%;
  }

 .navigation {
   position: fixed;
   justify-content: flex-end;
   padding: 0 16px;
   top: 0;
   /* background-color: #372f2d; */
   left: 85%;
   right: 0;
   /* height: 50px; было */
   height: 100px;
   z-index: 10;
   width: 13%;
   box-sizing: border-box;
 }

  .menu-btn {
   /* border: 1px solid #412d23; */
   /* background-color: #412d23; */
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   /* width: 35px;
   height: 30px; */
   width: 45px;
   height: 40px;
   cursor: pointer;
   transition: .4s;
   z-index: 30;
   filter: drop-shadow(1px 1px 2px #412d23)
 }

 .menu-icon {
   display: block;
   position: relative;
   background: white;
   width: 90%;
   height: 4px;
   transition: .4s;
 }

 .menu-icon::after, .menu-icon::before {
   content: "";
   display: block;
   position: absolute;
   background: white;
   width: 100%;
   height: 4px;
   transition: .4s;
 }

 .menu-icon::after {
   top: 8px;
 }
 .menu-icon::before {
   top: -8px;
 }

 .menu-wrap {
   position: fixed;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   height: 0;
   opacity: 1;
   transition: .5s;
   transition-delay: .2s;
   overflow: hidden;
   opacity: 0,7;
   background-color: #372f2d;
 }

 .menu-list {
   display: block;
   transition: .5s;
   transition-delay: .5s;
   list-style: none;
   padding-left: 0;
   margin-top: -50px;
   justify-content: center;
   font-size: 26px;
   padding-bottom: 15px;
 }

 .menu-list a {
   text-decoration: none;
   color: #fff;
 }

 .menu-list li {
   margin: 10px;
 }

 .menu-checkbox {
   display: none;
 }

 .menu-checkbox:checked nav {
   background-color: #372f2d;
 }

 .menu-checkbox:checked ~ .menu-wrap {
   height: 100%;
   transition-delay: 0s;
 }
 .menu-checkbox:checked ~ .menu-btn .menu-icon {
   background: transparent;
 }
 .menu-checkbox:checked ~ .menu-btn .menu-icon::before, .menu-checkbox:checked ~ .menu-btn .menu-icon::after {
   top: 0;
 }
 .menu-checkbox:checked ~ .menu-btn .menu-icon::after {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
 }
 .menu-checkbox:checked ~ .menu-btn .menu-icon::before {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
 }

  .web-app {
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .web-app a {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    /* justify-content: center; */
    text-decoration: none;
    color: #555;
    text-align: center;
    /* border: 1px solid red; */
    width: 240px;
    height: 230px;
    margin: 10px 0 10px 0;
  }

  .section-1-bottom {
    height: 546px;
    min-height: 200px;
  }

  .section-ideas {
    padding: 5px 0 0;
    min-height: 476px;
    width: 100%;
    padding: 4% 0 0;
      /* border: 1px solid red; */
    background-image: url(../img/browser-center.jpg);
    background-size: 100%;
    background-position: 50% 101%;
    }

  .section-ideas p {
    width: 90%;
    margin: 5px 0 15px;
  }

  .ideas-images {
    height: 380px;
    background-image: url(../img/browser-center.jpg);
    background-size: 100%;
  }

  .aside-wrap {
    padding: 0;
    flex-wrap: wrap;
    display: none;
  }

  .aside-wrap-content {
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

  .aside-txt {
    text-align: center;
  }

  .btn {
    margin: 0 auto;
  }

  .projects {
    min-width: 400px;
    padding: 30px 5px;
 }

 .projects > p {
    width: 90%;
    margin: 25px auto;
}

.prj-link-wrap a {
  padding: 7px 10px;
  }

.pro-link-wrap > div:nth-child(2),
.pro-link-wrap > div:nth-child(3),
.pro-link-wrap > div:nth-child(6) {
  display: none;
}

  .video-wrap {
    width: 450px;
    left: 11%;
  }

  .vid {
    object-fit: cover;
  }

  .sec-excel {
    height: 100%;
  }

  .sec-excel-wrap {
    width: 100%;
    background-position: 14px 276px;
    background-size: 40%;
    /* border: 1px solid red; */
    padding: 30px 15px 10px 15px;
    align-items: flex-start;
}

  .excel-title {
    display: block;
    text-align: center;
    width: 100%;
  }

  .excel-list {
    padding: 0 0 0 230px;
  }

  .excel-list li {
    line-height: 25px;
  }

  .excel-list li:before {
    left: -36px;
  }

  .section-stat {
    padding: 0;
    height: 200px;
  }

  .stat-wrap {
    width: 100%;
  }

  .stat-item span:first-of-type {
    font-size: 30px;
  }

  .stat-txt {
    font-size: 10px;
  }

  .section-posts {
    padding: 5px;
  }

  .posts-wrap {
    flex-wrap: wrap;
    width: 90%
  }

  .posts-txt {
    width: 88%;
  }

  .logos {
    width: 100%;
    padding: 10px;
    height: 180px;
  }

  .logos-img01,
  .logos-img02,
  .logos-img03 {
    width: 70%;
    height: 70%;
  }

  .main-footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-list {
    padding: 15px;
  }

}
